*{
box-sizing:border-box;
}


body{

margin:0;

background:#f6f6ef;

font-family:Verdana,Arial;

font-size:13px;

}


header{

background:#ff6600;

padding:5px;

}


.nav{

display:flex;

gap:10px;

align-items:center;

flex-wrap:wrap;

}



.logo{

border:1px solid white;

color:white;

width:22px;

height:22px;

display:flex;

align-items:center;

justify-content:center;

}



button{

cursor:pointer;

border:0;

background:none;

}



main{

width:85%;

margin:20px auto;

}



.card{

margin-bottom:15px;

}



.badge{

background:#ff6600;

color:white;

padding:3px;

font-size:10px;

}



.title{

font-size:15px;

}



.meta{

color:#828282;

font-size:11px;

}



.comment{

background:#eee;

padding:8px;

margin-top:8px;

border-left:3px solid orange;

}



.comment-author{

font-size:11px;

color:#555;

}



.comment-text{

margin-top:5px;

}



.hidden{

display:none;

}



#loader{

height:50px;

text-align:center;

}



#liveBox{

position:fixed;

right:20px;

top:50px;

background:#ff6600;

padding:10px;

}



#toast{

display:none;

position:fixed;

bottom:20px;

right:20px;

background:#333;

color:white;

padding:10px;

}



.poll-option{

background:#ddd;

padding:5px;

margin:5px;

}


@media(max-width:700px){

main{

width:95%;

}

}